.badge{
    border-radius: 15px !important;
    color: white !important;
    background-color:#03C988 !important;
  }

  #dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:green;
  }

  ::ng-deep mat-form-field {
    width: 100%;
    background-color: transparent !important;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
    height: 20px !important;
  }
  
 