<div class="d-flex align-items-center justify-content-between">
      <a href="" class="p-2 fw-normal retour-title" ><i class="fa fa-solid fa-less-than "></i> Retour</a>
    </div>  
    <h4 class="card-header text-primary" >Importation </h4>
    <div class="input_div">
      <mat-form-field appearance="outline" style="width: 100% !important">
        <mat-label style="font-size: small;">Recherche</mat-label>
        <input matInput placeholder="Titre" class="custom-input" 
          [(ngModel)]="filterValue" (ngModelChange)="filterData()">
        <button matSuffix mat-icon-button aria-label="Clear" disabled="true">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngIf="isReloadData == false" class="d-flex justify-content-center align-items-center">
      <mat-spinner class="custom-spinner"></mat-spinner>
    </div>    
    <mat-selection-list #shoes [multiple]="false" style="overflow-y: auto; height:600px;">
        <mat-list-option  *ngFor="let shoe of list_models" 
        [ngStyle]="{'height': '89px', 'border-left': '3px solid #03C988',
                    'background-color':  path != 'add-schema' && shoe.id == id_integration ? 'rgba(0,0,0,.04)' : 'rgb(128 129 128 / 3%)'}"
                     [value]="shoe.id" [disabled]="shoe.isDisabled">
        <div class="row">
          <div class="col-md-6">
            <p style="padding-top: 8px;">
              <span>
                <i class="fa-solid fa-file-import" style="color:grey"></i> {{ shoe.titre }}
              </span> 
            </p>
            <p class="badge-date" style="background-color: #03C988;">
              <span class="span_date">
                Le: {{ shoe.date_creation | date:'dd-MM-yyyy HH:mm' }}
              </span> 
            </p>
          </div>
          <div class="col-md-6 text-end mt-2">
            <div>
              <span *ngIf="shoe.etat == 1 " class="badge bg-warning" >Planifiée</span>
              <span *ngIf="shoe.etat == 2 " class="badge badge-priamry" >En cours</span>
              <span *ngIf="shoe.etat == 3 " class="badge badge-inverse" >Terminé l'intégration dans DBI</span>
              <span *ngIf="shoe.etat == 4 " class="badge badge-success1"  >Terminé</span>
              <span *ngIf="shoe.etat == 5 " class="badge badge-succes" >Validé</span>
              <span *ngIf="shoe.etat == 6 " class="badge badge-warning" >Annulé</span>
            </div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button *ngIf="shoe.etat != 1 || shoe.etat != 4" mat-menu-item (click)="details_actions(shoe.id)">
                  <mat-icon style="color:grey">list_alt</mat-icon>
                  <span>Details</span>
                </button>
                <button mat-menu-item color="warn" >
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </div>
          </div>
     </div>
      </mat-list-option>
    </mat-selection-list> 
  