<h3 class="text-primary mt-3">Type d'historique : </h3>
<mat-button-toggle-group class="mt-2 mb-2" name="favoriteColor" aria-label="Favorite Color" [(ngModel)]="action_tel"  [ngModelOptions]="{standalone: true}" >
    <mat-button-toggle  value="tel_supp">Téléphone supprimé</mat-button-toggle>
    <mat-button-toggle value="tel_ajout" (click)="getTelephoneAjouter()">Téléphone ajouté</mat-button-toggle>
</mat-button-toggle-group>
<h3 class="text-primary mt-3">Critéres  : </h3>
<div *ngIf="action_tel == 'tel_supp'">
    <div class="input_div row">
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Date début </mat-label>
                <input
                class="custom-input"
                matInput
                [matDatepicker]="date1"
                name="date_debut"
                value=""
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                matIconSuffix
                [for]="date1"
                ></mat-datepicker-toggle>
                <mat-datepicker #date1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Date fin </mat-label>
                <input
                class="custom-input"
                matInput
                [matDatepicker]="date2"
                name="date_debut"
                value=""
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                matIconSuffix
                [for]="date2"
                ></mat-datepicker-toggle>
                <mat-datepicker #date2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Agents</mat-label>
                <mat-select
                  [(ngModel)]="selectedAgent"
                  [ngModelOptions]="{ standalone: true }">
                  <mat-option
                    *ngFor="let item of liste_agents"
                    [value]="item.id">{{ item.nom }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="input_div row">
        <div>
            <button mat-flat-button class="mb-2" (click)="search_data_histo_tel_supp()" color="accent" >Rechercher <mat-icon iconPositionEnd>search</mat-icon></button>
        </div>
    </div>
<h3 class="text-primary mt-3">Liste d'historique  : </h3>
    <div class="w-100">
        <table mat-table [dataSource]="dataSource"   class="mat-elevation-z8 demo-table">
          <!-- Name Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numéro </th>
            <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
          </ng-container>
          <ng-container matColumnDef="origine">
            <th mat-header-cell *matHeaderCellDef> Origine </th>
            <td mat-cell *matCellDef="let element"> {{element.origine}} </td>
          </ng-container>
          <ng-container matColumnDef="id_type_tel_id">
            <th mat-header-cell *matHeaderCellDef> Type téléphone </th>
            <td mat-cell *matCellDef="let element"> {{element.id_type_tel_id.type}} </td>
          </ng-container>
          <ng-container matColumnDef="id_users_id">
            <th mat-header-cell *matHeaderCellDef> Utilisateurs </th>
            <td mat-cell *matCellDef="let element"> {{element.id_users_id.nom}} {{element.id_users_id.prenom}} </td>
          </ng-container>
          <ng-container matColumnDef="note1">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"><span class="badge badge-danger">{{element.type}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="date_creation">
            <th mat-header-cell *matHeaderCellDef> Date action </th>
            <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
          </ng-container>
          <ng-container matColumnDef="id_status_id">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"><span class="badge badge-secondary">{{element.is_status_id.status}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> Opération </th>
            <td mat-cell *matCellDef="let element"> 
                <button   class=" mr-1" type="button" mat-flat-button color="primary" ><i class="fa-solid fa fa-pen text-white"></i></button>   
                <button class="" type="button" mat-flat-button color="warn"  ><i class="fa-solid fa fa-trash text-white "></i></button>    
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
<div *ngIf="action_tel == 'tel_ajout'">
    <div class="input_div row">
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Date début </mat-label>
                <input
                class="custom-input"
                matInput
                [matDatepicker]="date1"
                name="date_debut"
                value=""
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                matIconSuffix
                [for]="date1"
                ></mat-datepicker-toggle>
                <mat-datepicker #date1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Date fin </mat-label>
                <input
                class="custom-input"
                matInput
                [matDatepicker]="date2"
                name="date_debut"
                value=""
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                matIconSuffix
                [for]="date2"
                ></mat-datepicker-toggle>
                <mat-datepicker #date2></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Agents</mat-label>
                <mat-select
                  [(ngModel)]="selectedAgent"
                  [ngModelOptions]="{ standalone: true }">
                  <mat-option
                    *ngFor="let item of liste_agents"
                    [value]="item.id">{{ item.nom }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
    </div>
    <div class="input_div row">
        <div>
            <button mat-flat-button class="mb-2" (click)="search_data_histo_tel_supp()" color="accent" >Rechercher <mat-icon iconPositionEnd>search</mat-icon></button>
        </div>
    </div>
<h3 class="text-primary mt-3">Liste d'historique  : </h3>
    <div class="w-100">
        <table mat-table [dataSource]="dataSource1"   class="mat-elevation-z8 demo-table">
          <!-- Name Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numéro </th>
            <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
          </ng-container>
          <ng-container matColumnDef="origine">
            <th mat-header-cell *matHeaderCellDef> Origine </th>
            <td mat-cell *matCellDef="let element"> {{element.origine}} </td>
          </ng-container>
          <ng-container matColumnDef="id_type_tel_id">
            <th mat-header-cell *matHeaderCellDef> Type téléphone </th>
            <td mat-cell *matCellDef="let element"> {{element.id_type_tel_id.type}} </td>
          </ng-container>
          <ng-container matColumnDef="note1">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"><span class="badge badge-danger">{{element.type}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="date_creation">
            <th mat-header-cell *matHeaderCellDef> Date action </th>
            <td mat-cell *matCellDef="let element"> {{element.date_creation}} </td>
          </ng-container>
          <ng-container matColumnDef="id_status_id">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"><span class="badge badge-secondary">{{element.is_status_id.status}}</span>  </td>
          </ng-container>
          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> Opération </th>
            <td mat-cell *matCellDef="let element"> 
                <button   class=" mr-1" type="button" mat-flat-button color="primary" ><i class="fa-solid fa fa-pen text-white"></i></button>   
                <button class="" type="button" mat-flat-button color="warn"  ><i class="fa-solid fa fa-trash text-white "></i></button>    
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

