<h2 mat-dialog-title>Ajouter un flux</h2>
<mat-dialog-content class="mat-typography" >
    <h3 class="text-primary">Géneral flux : </h3>
    <div class="div_form_row">
        <div class="div_form_label">
          <mat-label>Titre :</mat-label>
        </div>
        <div class="div_form_inputs input_div">
          <mat-form-field  appearance="outline" style="width: 100%">
              <mat-label style="font-size: small;">Titre </mat-label>
              <input matInput placeholder="Titre" class="custom-input" required [(ngModel)]="titre_flux"  [ngModelOptions]="{standalone: true}">      
          </mat-form-field>
        </div>
    </div>
    <div class="div_form_row">
        <div class="div_form_label">
          <mat-label>Description :</mat-label>
        </div>
        <div class="div_form_inputs input_div">
          <mat-form-field  appearance="outline" style="width: 100%">
              <mat-label style="font-size: small;">Description </mat-label>
              <input matInput placeholder="Description" class="custom-input" [(ngModel)]="desc_flux"  [ngModelOptions]="{standalone: true}">      
          </mat-form-field>
        </div>
    </div>
    <h3 class="text-primary">Critères: </h3>
    <div>
        <mat-tab-group>
            <mat-tab label="Ajouter critère">
                <div class="row mt-4">
                 <div *ngIf="listes_criteres.length === 0" class="d-flex justify-content-center align-items-center">
                     <mat-spinner class="custom-spinner"></mat-spinner>
                 </div>
                     <div class="col-md-3">
                         <details *ngFor="let gr of listes_criteres">
                             <summary class="text-bold">{{gr.titre_groupe}}</summary>
                             <ul cdkListbox
                             [(ngModel)]="critere_selected" [ngModelOptions]="{standalone: true}" 
                                 aria-labelledby="example-language-label"
                                 class="example-listbox">
                                 <li *ngFor="let cr of gr.criteres"
                                     [cdkOption]="cr" 
                                     (click)="onchangeSelect(gr,cr.type , cr.details)"
                                     class="example-option">
                                     {{cr.critere}}
                                    </li>
                                    <!--[cdkOptionDisabled]="disabledCritere(cr.type , cr.critere)"-->
                             </ul>
                         </details>
                     </div>
                     <div  *ngIf=" critere_selected[0] && critere_selected[0].critere != 'type créance' && critere_selected[0].critere != 'Secteur d\'activité'" class="col-md-6">
                         <div *ngIf="type_selected == 'multiple_check'">
                             <table id="list_culomn" class="table_critere table-striped table-bordered dt-responsive nowrap w-100 mt-3 list_culomn">
                                 <thead>
                                     <tr class="th_class bg-primary">
                                         <th class="w-50">Sélectionné</th>
                                         <th class="w-50">Value</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                 <tr *ngFor="let item of details_values">
                                     <td><mat-checkbox color="primary" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected" ></mat-checkbox></td>
                                     <td>{{item.value}}</td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                         <div *ngIf="type_selected == 'montant'">
                             <div class="div_form_row mb-3">
                                 <mat-radio-group aria-label="Select an option"  [ngModelOptions]="{standalone: true}" [(ngModel)]="action_value" >
                                     <mat-radio-button value="1" checked>Entre</mat-radio-button>
                                     <mat-radio-button value="2">Sépurieur à </mat-radio-button>
                                     <mat-radio-button value="2">Inférieur à </mat-radio-button>
                                 </mat-radio-group>
                             </div>
                             <div class=" div_form_row">
                                 <div class="div_form_label">
                                     <mat-label *ngIf="action_value == '1'">De :</mat-label>
                                     <mat-label *ngIf="action_value == '2'">à :</mat-label>
                                 </div>
                                 <div class="div_form_inputs input_div">
                                     <mat-form-field appearance="outline" >
                                         <mat-label>Valeur 1</mat-label>
                                         <input type="text" matInput class="form-control form-control-sm" [(ngModel)]="value1_montant" [ngModelOptions]="{standalone: true}" placeholder="Montant ">                                        
                                     </mat-form-field>
                                 </div>
                             </div>
                             <div class=" div_form_row" *ngIf="action_value == '1'">
                                 <div class="div_form_label">
                                     <mat-label>à :</mat-label>
                                 </div>
                                 <div class="div_form_inputs input_div">
                                     <mat-form-field appearance="outline" >
                                         <mat-label>Valeur 2</mat-label>
                                         <input type="text" matInput class="form-control form-control-sm" [(ngModel)]="value2_montant" [ngModelOptions]="{standalone: true}" placeholder="Montant ">                                        
                                     </mat-form-field>
                                 </div>
                             </div>
                         </div>
                         <div *ngIf="type_selected == 'date'">
                             <div class="div_form_row mb-3">
                                 <mat-radio-group aria-label="Select an option"  [ngModelOptions]="{standalone: true}" [(ngModel)]="action_value" >
                                     <mat-radio-button value="1" checked>Entre</mat-radio-button>
                                     <mat-radio-button value="2">Sépurieur à </mat-radio-button>
                                     <mat-radio-button value="2">Inférieur à </mat-radio-button>
                                 </mat-radio-group>
                             </div>
                             <div class=" div_form_row">
                                 <div class="div_form_label">
                                     <mat-label>De :</mat-label>
                                 </div>
                                 <div class="div_form_inputs input_div">
                                     <mat-form-field appearance="outline">
                                         <mat-label>Valeur 1</mat-label>
                                         <input matInput [matDatepicker]="picker" [disabled]="false" [(ngModel)]="value1_date"  [ngModelOptions]="{standalone: true}">
                                         <mat-hint>MM/DD/YYYY</mat-hint>
                                         <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                         <mat-datepicker #picker></mat-datepicker>
                                     </mat-form-field>
                                 </div>
                             </div>
                             <div class=" div_form_row" *ngIf="action_value == '1'">
                                 <div class="div_form_label">
                                     <mat-label>à :</mat-label>
                                 </div>
                                 <div class="div_form_inputs input_div">
                                     <mat-form-field appearance="outline">
                                         <mat-label>Valeur 2</mat-label>
                                         <input matInput [matDatepicker]="picker1" [disabled]="false" [(ngModel)]="value2_date"  [ngModelOptions]="{standalone: true}">
                                         <mat-hint>MM/DD/YYYY</mat-hint>
                                         <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                         <mat-datepicker #picker1></mat-datepicker>
                                     </mat-form-field>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div *ngIf=" critere_selected[0] && critere_selected[0].critere == 'type créance'" class="col-md-3" >
                         <details *ngFor="let gr of listeTypeDonneurOrdre" (click)="onchangeSelectType(gr)">
                             <summary class="text-bold" [ngStyle]="{'background': gr.id === type_dn ? 'rgba(0, 0, 0, 0.2)' : ''}">
                               {{gr.type}}
                             </summary>
                         </details>
                     </div>  
                     <div *ngIf=" critere_selected[0] && critere_selected[0].critere == 'type créance'" class="col-md-3" >
                         <details *ngFor="let gr of listeTypeCreance" (click)="onchangeSelectTypeCreance(gr)">
                             <summary class="text-bold" [ngStyle]="{'background': gr.id === type_creance ? 'rgba(0, 0, 0, 0.2)' : ''}">
                               {{gr.type}}
                             </summary>
                         </details>
                     </div>  
                     <div *ngIf="critere_selected[0] && critere_selected[0].critere == 'type créance'" class="col-md-3" >
                         <div *ngIf="type_creance !== ''">
                             <table id="list_culomn" class="table_critere table-striped table-bordered dt-responsive nowrap w-100 mt-3 list_culomn">
                                 <thead>
                                     <tr class="th_class bg-primary">
                                         <mat-checkbox color="primary" [(ngModel)]="selectAll" (change)="toggleSelectAll()"> </mat-checkbox>
                                         <th class="w-50">Value</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr *ngFor="let item of details_values">
                                         <td><mat-checkbox color="primary" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected" ></mat-checkbox></td>
                                         <td>{{item.value}}</td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>  
                     <div *ngIf=" critere_selected[0] && critere_selected[0].critere == 'Secteur d\'activité'" class="col-md-5" >
                         <details *ngFor="let gr of liste_secteur_activite" (click)="onchangeSelectSecteur(gr)">
                             <summary class="text-bold" [ngStyle]="{'background': gr.id === secteur_activite ? 'rgba(0, 0, 0, 0.2)' : ''}">
                               {{gr.secteur}}
                             </summary>
                         </details>
                     </div>
                     <div *ngIf="critere_selected[0] && critere_selected[0].critere == 'Secteur d\'activité'" class="col-md-3" >
                         <div *ngIf="secteur_activite !== ''">
                             <table id="list_culomn" class="table_critere table-striped table-bordered dt-responsive nowrap w-100 mt-3 list_culomn">
                                 <thead>
                                     <tr class="th_class bg-primary">
                                         <th class="w-50">Sélectionné</th>
                                         <th class="w-50">Value</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr *ngFor="let item of details_values">
                                         <td><mat-checkbox color="primary" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.selected" ></mat-checkbox></td>
                                         <td>{{item.value}}</td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
             </mat-tab>
            <mat-tab label="Liste">
                 <!--{{data_checked|json}} -->

                <!--<div *ngFor="let cr of data_checked">
                    <p class="text-bold">{{cr.groupe.groupe }}</p>
                    <div *ngFor="let dt of cr.groupe.criteres">
                        <p class="text-bold ml-2">{{dt.critere }}</p>
                        <div *ngIf="dt.type == 'montant'" class="text-bold ml-5">
                            De : {{dt.details[0].value1}} <br/>
                            à : {{dt.details[0].value2}}
                        </div>
                        <div class="ml-5 text-bold" *ngIf="dt.type == 'multiple_check'">
                            <div *ngFor="let val of dt.details" >
                                <p> - {{val.value1}}</p>
                            </div>
                        </div>
                    </div>
                </div>-->
            </mat-tab>
        </mat-tab-group>
        
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close  [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="disabledSaveBtn()">Enreigestrer</button>
</mat-dialog-actions>
