.task-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.task-date {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 5px;
    color: #666;
}

.task-date span {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}