/* Override Angular Material styles for the input fields */
::ng-deep mat-form-field {
    width: 75%;
    background-color: transparent !important;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
    height: 50px !important;
  }
  
 
  
  
  
  