<aside class="aside-container" style="margin-top: 55px;">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav class="sidebar" data-sidebar-anyclick-close="">
            <!-- START sidebar nav-->
            <ul class="sidebar-nav ">
                <li class="Img d-flex justify-content-center mt-3">
                    <!-- <a href="#" title="Dashboard" style="margin-left: 16px;
                    font-size: 13px;
                    color: #808080b3;">Menu de navigation
                    </a> -->
                    <img src="assets/backTemplate/img/imgutil.jpg" class="img-radius mb-3 mCS_img_loaded" alt="User-Profile-Image" width="100" height="100">
                </li>
                <li class=""><a routerLink="/activity" title="Paramétrage" [routerLinkActive]="['active-link']"><span class="li"><i class="fa fa-gear"></i>&nbsp;&nbsp;Paramétrage</span></a></li>
                <li class=""><a routerLink="/donneur_ordre" [routerLinkActive]="['active-link']" title="Donneurs d'ordre"><span class="li"><i class="fa-solid fa-right-left"></i>&nbsp;&nbsp;Donneurs d'ordre </span></a></li>
                <li class=""><a routerLink="/portefeuille" [routerLinkActive]="['active-link']" title="Porte feuille"><span class="li"><i class='fas fa-wallet'></i>&nbsp;&nbsp;Porte feuille</span></a></li>
                <li class=""><a routerLink="/Listefacture" [routerLinkActive]="['active-link']" title="Facture"><span class="li"><i class='fas fa-file-invoice-dollar'></i>&nbsp;&nbsp;Facture</span></a></li>
                <li class=""><a routerLink="/create-file-missions" [routerLinkActive]="['active-link']" title="Missions"><span class="li"><i class="fa fa-bullseye"></i>&nbsp;&nbsp;Missions </span></a></li>
                <li class=""><a routerLink="/overview-predefined" [routerLinkActive]="['active-link']" title="Segmentation"><span class="li"><i class="fa-solid fa-layer-group"></i>&nbsp;&nbsp;Segmentation</span></a></li>
                <li class=""><a routerLink="/generate-workflow" [routerLinkActive]="['active-link']" title="Workflow"><span class="li"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Workflow</span></a></li>
                <!-- 
                <li class=""><a routerLink="/dossiers" [routerLinkActive]="['active-link']" title="Dossiers"><span class="li">&nbsp;&nbsp;Dossiers </span></a></li> 
                <li class=""><a routerLink="/creances" [routerLinkActive]="['active-link']" title="Créances"><span class="li">&nbsp;&nbsp;Créances </span></a></li>
                <li class=""><a routerLink="/debiteurs" [routerLinkActive]="['active-link']" title="Débiteurs"><span class="li">&nbsp;&nbsp;Débiteurs</span></a></li>-->
                <li class=""><a routerLink="/create-integration" [routerLinkActive]="['active-link']" title="Importation / Extraction"><span class="li"><i class="fa-solid fa-file-import"></i>&nbsp;&nbsp;Importation / Extraction</span></a></li>
                <li class=""><a routerLink="/historique" [routerLinkActive]="['active-link']" title="historique"><span class="li"><i class="fas fa-history"></i>&nbsp;&nbsp;Historique</span></a></li>
                <li class=""><a routerLink="/Users" [routerLinkActive]="['active-link']" title="Paramétrages"><span class="li"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Utilisateurs</span></a>
                    <!-- <ul class="sidebar-nav sidebar-subnav" id="layout">
                        <li class=""><a routerLink="/Profile" [routerLinkActive]="['active-link']" title="Profils"><span class="li"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Profils</span></a></li>
                        <li class=""><a routerLink="/Groupe" [routerLinkActive]="['active-link']" title="Groupes"><span class="li"><i class="fa fa-users" aria-hidden="true"></i>
                            &nbsp;&nbsp;Groupes</span></a></li>
                        <li class=""><a routerLink="/User" [routerLinkActive]="['active-link']" title="Utilisateurs"><span class="li"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Utilisateurs</span></a></li>
                    </ul> -->
                </li>
            </ul>
            <!-- END sidebar nav-->
        </nav>
    </div><!-- END Sidebar (left)-->
  </aside><!-- offsidebar-->