.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 20vh;
    grid-gap: 2rem;
    grid-auto-flow: dense;
    padding: 2rem;
  }
  
  .item {
    background: #96d0ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: transform 0.2s; /* Add a transition for the scaling effect */
  }
  .item:hover {
    transform: scale(1.1); /* Apply scaling effect when hovered */
    background: #3f51b5;
  }
  
  .item--1x2 {
    grid-row: auto / span 2;
  }
  
  .item--2x2 {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
  
  .item--2x1 {
    grid-column: auto / span 2;
  }