<div class="card card-default col-md-12 m-2" style="width: 98%;">
    <div class="card-header ">
        <h3><i class="feather icon-file"></i> Modifier  model courrier </h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
            </ul>
        </div>
    </div>
    <div class="card-block ">
        <div class="row">
            <div class="col-xl-12 col-md-12 table-responsive">
                <form (ngSubmit)="UpdateModel(titre.value,objet.value)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row input_div">
                                <label class="col-sm-2 col-form-label mx-2">Titre <span class="text-danger">*</span>:</label>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>titre </mat-label>
                                    <input type="text" class="custom-input "matInput name="titre" id="titre" #titre [ngModel]="courier.titre">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row input_div">
                                <label class="col-sm-2 col-form-label">Objet:</label>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>objet </mat-label>
                                    <input type="text" class="custom-input" matInput id="objet" name="objet" #objet [ngModel]="courier.objet">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group row input_div">
                                <label class="col-sm-2 col-form-label mx-2">Model de courrier :</label>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Model courier </mat-label>
                                    <mat-select  type="text" matInput id="model" name="model">
                                        <mat-option value="">Sélectionner un Model de courrier</mat-option>
                                        <mat-option *ngFor="let item of model" value="{{item.id}}">{{item.titre}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row input_div">
                                
                                <div class="col-sm-2">
                                    <label class="col-form-label">Ajouter des variables:</label>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ajouter variables </mat-label>
                                    <mat-select  id="param" type="text" [(ngModel)]="selectedOption"  (ngModelChange)="addParam()" name="select" >
                                        <mat-option>Select variable</mat-option>
                                        <mat-option value="[#-Nom-#]">Nom debiteur</mat-option>
                                        <mat-option value="[#-Prenom-#]">Prenom debiteur</mat-option>
                                        <mat-option value="[#-Civilite-#]">Civilite debiteur</mat-option>
                                        <mat-option value="[#-Cin-#]">Cin debiteur</mat-option>
                                        <mat-option value="[#-Adresse-#]">Adresse debiteur</mat-option>
                                        <mat-option value="[#-RS-#]">Raison sociale</mat-option>
                                        <mat-option value="[#-Donneur-#]">Donneur d'ordre</mat-option>
                                        <mat-option value="[#-CompteBancaireDonneur-#]">Compte bancaire donneur d'ordre</mat-option>
                                        <mat-option value="[#-NumDonneur-#]">Numéro donneur d'ordre </mat-option>
                                        <mat-option value="[#-DateNow-#]">Date d'aujourd'hui</mat-option>
                                        <mat-option value="[#-MontantRestant-#]">Montant Restant</mat-option>
                                        <mat-option value="[#-MontantInitiale-#]">Montant Initiale</mat-option>
                                        <mat-option value="[#-PrenomUtilisateur-#]">Prenom utilisateur</mat-option>
                                        <mat-option value="[#-NomUtilisateur-#]">Nom utilisateur</mat-option>
                                        <mat-option value="[#-AddTampon-#]">Ajouter tampon avec signature</mat-option>
                                        <mat-option value="[#-emploie-#]">Emploie</mat-option>
                                        <mat-option value="[#-employeur-#]">Employeur</mat-option>
                                        <mat-option value="[#-salaire-#]">Salaire</mat-option>
                                        <mat-option value="[#-adresseEmployeur-#]">Adresse employeur</mat-option>
                                        <mat-option value="[#-numFoncier-#]">Numéro Titre foncier</mat-option>
                                        <mat-option value="[#-villeFoncier-#]">Ville titre foncier</mat-option>
                                        <mat-option value="[#-natureFoncier-#]">Nature titre foncier</mat-option>

                                        <mat-option value="[#-numCnss-#]">Numéro de cnss</mat-option>
                                        <mat-option value="[#-numCreance-#]">Numéro de créance</mat-option>
                                        <mat-option value="[#-detailCreance-#]">Detail créance</mat-option>
                                        <mat-option value="[#-detailFinancement-#]">detail financement</mat-option>
                                        <mat-option value="[#-numeroUtilisateur-#]">Numéro d'utilisateur</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <br>
                                
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="form-group row ">
                                
                                <div class="col-sm-2 m-2">Message <span class="text-danger">*</span>:</div>
                                <div class="col-sm-11 m-2">
                                    
                                     <ckeditor  name="ckeditor" [(ngModel)]="ckeditorContent" [ngModel]="courier.message"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn btn-warning m-b-0 btn-block insert-btn col-md-5 offset-3 my-2" mat-raised-button color="primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
    </div>