<aside class="aside-container" style="margin-top: 55px;">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav class="sidebar" data-sidebar-anyclick-close="">
            <!-- START sidebar nav-->
            <ul class="sidebar-nav">
                <li class="">
                    <a href="#" title="Dashboard" style="margin-left: 16px;
                    font-size: 13px;
                    color: #808080b3;">Menu de navigation
                    </a>
                </li>
                <li class=""><a routerLink="/view-statistiques" [routerLinkActive]="['active-link']" title="Statistiques"><span class="li">&nbsp;&nbsp;Statistiques </span></a></li>
                <li class=""><a routerLink="/dossiers" [routerLinkActive]="['active-link']" title="Dossiers"><span class="li">&nbsp;&nbsp;Dossiers </span></a></li> 
                <li class=""><a routerLink="/create-file-missions" [routerLinkActive]="['active-link']" title="Missions"><span class="li">&nbsp;&nbsp;Missions </span></a></li>
                <li class=""><a routerLink="/messagerie" [routerLinkActive]="['active-link']" title="Missions"><span class="li">&nbsp;&nbsp;Messagerie </span></a></li>
                <!--
                <li class=""><a routerLink="/creances" [routerLinkActive]="['active-link']" title="Créances"><span class="li">&nbsp;&nbsp;Créances </span></a></li>
                <li class=""><a routerLink="/debiteurs" [routerLinkActive]="['active-link']" title="Débiteurs"><span class="li">&nbsp;&nbsp;Débiteurs</span></a></li>
                -->
            </ul><!-- END sidebar nav-->
        </nav>
    </div><!-- END Sidebar (left)-->
  </aside><!-- offsidebar-->