<!-- <div class="d-flex align-items-center justify-content-between">
    <a href="" class="p-2 fw-normal retour-title" ><i class="fa fa-solid fa-less-than "></i> Retour</a>
  </div>   -->
  <h4  class="titre mt-3">Importation </h4>
  <div class="input_div pb-3">
    <mat-form-field appearance="outline" style="width: 100% !important">
      <mat-label style="font-size: small;">Recherche</mat-label>
      <input matInput placeholder="Titre" class="custom-input" 
        [(ngModel)]="filterValue" (ngModelChange)="filterData()">
      <button matSuffix mat-icon-button aria-label="Clear" disabled="true">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngIf="isReloadData == false" class="d-flex justify-content-center align-items-center">
    <mat-spinner class="custom-spinner"></mat-spinner>
  </div>    
  <mat-selection-list #shoes [multiple]="false" style="overflow-y: auto; height:600px;">
      <mat-list-option  *ngFor="let shoe of model"  [routerLink]="['/modifier_model_affichage2', shoe.id]"
      [ngStyle]="{'height': '89px', 'border-left': '3px solid #03C988',
                  'background-color':  path != 'add-schema' && shoe.id == id_integration ? 'rgba(0,0,0,.04)' : 'rgb(128 129 128 / 3%)'}"
                   [value]="shoe.id" [disabled]="shoe.isDisabled">
      <div class="row">
        <div class="col-md-10">
          <p style="padding-top: 8px;">
            <span>
              <i class="fa-solid fa-file-import" style="color:grey"></i> {{ shoe.Titre }}
            </span> 
          </p>
          <div class="row ml-1">
            <p class="badge-date col-md-4 mr-1" style="background-color: #0271a5;text-align: center;">
              <span class="span_date">
               {{shoe.idPtf.numeroPtf}} - {{shoe.idPtf.titre}}
              </span>
            </p>
            <p class="badge-date col-md-7" style="background-color: #03C988;">
              <span class="span_date">
                Le: {{ shoe.dateCreation | date:'dd-MM-yyyy HH:mm' }}
              </span> 
            </p>
          </div>
        </div>
        <div class="col-md-2 text-end mt-2">
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="shoe.etat != 1 || shoe.etat != 4" mat-menu-item color="primary" (click)="openModalWithData(shoe.id)">
                <mat-icon >list_alt</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item color="warn" (click)="delete_model(shoe.id)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </div>
        </div>
   </div>
    </mat-list-option>
  </mat-selection-list> 
